body {margin: 0;
  width: 100%;
 overflow-x: hidden;
}

hr {background-color: rgba(87, 23, 23, 0.348);
height: 1px;}


.title {background-color: black;
  text-align: center;
 color: aliceblue;
  overflow: hidden;
  background-size: contain ;
 width: 100%;
 padding: 0px;  
}
    
li {display: inline;
margin-right: 8%;
margin-left: 8%;
text-align: center;
bottom: -25;
}


.center {text-align: center;}

.title h1 {font-size: 950%;
    margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;}

  .title h3 {font-size: 600% ;}
  .title h4 {font-size: 300%;
 margin-left: 10%;
margin-right: 10%;
}



.photo {
float: right;
 max-width: 30%;
 max-height: 600px;
text-align: right;
 width: 30%;
height: 100%;
 box-shadow: 5px 10px blanchedalmond;
border-radius: 45px 0px 45px 12px;
margin: 1% 10% 0% 10%;

 }
 .photo2 {
  float: right;
  max-width: 100%;
  max-height: 600px;
  text-align: right;
  width: 30%;
  height: 69%;
   box-shadow: 5px 10px rgba(123, 57, 57, 0.921);
  border-radius: 45px 0px 45px 12px;
  margin: 4% 10% 3% 10%;

   }
   .photo3 {
    float: right;
     max-width: 100%;
     max-height: 650px;
     min-height: 340px; 
    text-align: right;
     width: 28%;
    height: 50%;
     box-shadow: 5px 10px blanchedalmond;
    border-radius: 45px 0px 45px 12px;
    margin: 0% 10% 3% 10%;

  
     }
h6 {color: transparent;}


 .buttonx {filter: grayscale(1) invert(1);

  }   
  
.button01 {filter: grayscale(1) invert(1);
width: 2em;
max-width: 40%;
}   

a {
  color: rgb(0, 0, 0);
}

#jpg {
align-items: center;
display: inline-block;
max-width: 60px;
max-height: 60px;
width: 5em;
height: 5em;
} 


#jpg1 {
  text-align: center;
  display: inline-block;
  max-width: 60px;
max-height: 60px;
width: 5em;
height: 5em;
margin: 1% 25% 3% 23%;



}

#biography {font-size: 480%;
display: inline-block;

}
#album {font-size: 480%;
  display: inline-block;
  
}
#death {font-size: 480%;
  display: inline-block;

  }




  
 

.textbio {
   font-size: 120%;
 text-justify:distribute-all-lines;
  text-align: justify;
  margin: 3% 15% 3% 15%;
color: black;
font-family: sans-serif, 'Times New Roman', Times, serif;
}
.textbio2 {
  font-size: 120%;
 text-justify:distribute-all-lines;
 white-space: pre-line;
 text-align: justify;
 margin: 8% 15% 8% 15%;
color: aliceblue;
font-family: sans-serif, 'Times New Roman', Times, serif;
}

.textbio3{
  font-size: 120%;
text-justify:distribute-all-lines;
 text-align: justify;
 margin: 6% 15% 3% 15%;
color: black;
font-family: sans-serif, 'Times New Roman', Times, serif;
}



.background2 {background-color: black;
color: aliceblue;}


footer p {text-align: center;}
